.button{
    text-decoration: none;
    color: rgba(255,255,255,.5);
    font-size: large;
    height:100%;
    margin-left:0px;
}

.button:hover{
    color:white;
    text-decoration: none;
}

.auth{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

.auth:hover{
    color:white;
}

.reglog {
    display: inline;
    text-decoration: "none";
}

.theEnd {
    padding-top: 8px;
    padding-bottom: 0px;
}

@media screen and (max-width: 990px) {
    .reglog {
      display: block;
      margin-left: 15px;
      margin-top: 3px;
    }
    .button {
        display: block;
        margin-left: 15px;
        margin-top: 4px;
        padding: 0px !important;
    }
    .theEnd {
        padding-top: 0px
    }
  }